body{
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: bisque;
    height: 20vh;
}
#main{
    display: flex;
}
#main article{
    flex: 1;
}
#main nav,
#main aside{
    height: 50vh;
}
#main nav{
    background-color: aqua;
    width: 14vw;
    order: 1;
}
#main aside{
    background-color: pink;
    width: 14vw;
}